.auth-container{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#667eea,
#764ba2
);

}


.auth-card{

width:380px;

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,0.15);

text-align:center;

}



.auth-logo{

width:70px;

height:70px;

margin:auto;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:35px;

background:#667eea;

color:white;

}



.auth-card h1{

margin-top:20px;

font-size:32px;

}



.subtitle{

color:#777;

margin-bottom:30px;

}



.input-box{

display:flex;

align-items:center;

gap:12px;

background:#f5f7fb;

padding:14px 16px;

border-radius:15px;

margin-bottom:18px;

}



.input-box input{

border:none;

outline:none;

background:none;

width:100%;

font-size:15px;

}



.auth-btn{

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:#667eea;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}



.auth-btn:hover{

transform:translateY(-2px);

}



.switch{

margin-top:25px;

color:#666;

}



.switch span{

color:#667eea;

font-weight:600;

cursor:pointer;

margin-left:5px;

}